
.navbar{
    z-index: 5;
}

.main-header{
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, .4);
    }
}


.main-header .navbar-toggler,
.header-all .navbar-toggler{
    color: #fff;
}
.main-header .navbar-brand,
.header-all .navbar-brand,
.main-header ul li a,
.header-all ul li a{
    color: #fff;
    font-weight: 600;
}
.main-header .navbar-brand,
.header-all .navbar-brand{
    font-size: 41px;
}
.main-header ul li a,
.header-all ul li a{
    font-size: 17px;
}
.main-header ul li a::after,
.header-all ul li a::after{
    content: '';
    display: block;
    width: 100%;
    margin-top: 5px;
    background-color: #fff;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}

.main-header ul li a:hover::after,
.header-all ul li a:hover::after{
    transform: scale(1);
}

.main-header ul li.has-dropdown{
    position: relative;
}

.main-header ul li.has-dropdown .dropdown{
    width: 160px;
    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background-color: rgba(0,0,0, .4);
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}
.main-header ul li.has-dropdown .dropdown:before{
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: rgba(0,0,0, .4);
    border-width: 8px;
    margin-left: -8px;
}
.main-header ul li.has-dropdown .dropdown li{
    display: block;
    margin-bottom: 7px;
}
.main-header ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0;
}
.main-header ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #999999;
    line-height: 1.2;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0;
}
.main-header ul li.has-dropdown .dropdown li a:hover {
    color: #fff;
}
.main-header ul li.has-dropdown:hover a, .main-header ul li.has-dropdown:focus a {
    color: #fff;
}

.main-header-text{
    position: absolute;
    top: 25%;
    left: 5%;
    max-width: 872px;
    color: $white;
    padding: 20px;
    z-index: 4;
}
.main-header-buttons{
    padding-left: 30px;
}
.btn{
    font-size: 15px;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    border-radius: 5px;
}
.main-header-buttons .btn,
.form .btn,
.section-letsDo .btn,
footer .btn{
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px;
    margin-top: 30px;
    opacity: .8;
    box-shadow: 0 4px 16px rgba(0,0,0,.35);
    transition: all .5s;
    border: 1px solid $yellow;
    background-color: $purple;
    color: $white;

}
.btn-header{
    font-size: 24px;

}

.main-header-buttons .btn:hover,
.form .btn:hover,
.section-letsDo .btn:hover,
footer .btn:hover{
    color: $purple;
    opacity: 1;
}
.contactBtn:hover{
    border-color: $purple;
    background-color: $yellow;
}

.form .btn{
    height: 40px;
    margin-top: 10px;
}

// Вертикальная карусель
#carousel_headerText{
    height: 100px;
}
.vertical .carousel-inner {
    height: 100%;
  }
  
  .carousel.vertical .item {
     -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
     -ms-transition: 0.6s ease-in-out top;
     -o-transition: 0.6s ease-in-out top;
     transition: 0.6s ease-in-out top;
  }
  
  .carousel.vertical .active {
     top: 0;
  }
  
  .carousel.vertical .next {
     top: 400px;
  }
  
  .carousel.vertical .prev {
     top: -400px;
  }
  
  .carousel.vertical .next.left,
  .carousel.vertical .prev.right {
     top: 0;
  }
  
  .carousel.vertical .active.left {
     top: -400px;
  }
  
  .carousel.vertical .active.right {
     top: 400px;
  }
  
  .carousel.vertical .item {
     left: 0;
  }

