
/* ============================= 8 section - lets Do ============================== */
.section-letsDo{
    /*background: url(../img/letsDo_bg.jpg) center no-repeat fixed;*/
    /*background-size: cover;*/

    color: #fff;
}
.modal h5{
    // font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #e84d8a;
    /*color: #e74c3c;*/
}