
/* ============================= video ============================== */




.video-header{
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    height: 105vh;
    width: 45%;
    /*clip-path: polygon(0 100%, 80% 0, 80% 100%);*/
    clip-path: circle(40% at 58% 63%);
    overflow: hidden;
    z-index: 2;

    .homepage-hero-module {
        border: none;
        height: 100%;        
        // position: absolute;
        // bottom: 0;
        // right: 0;
        // display: block;
        /*background-position-x: 50%;*/
        /*background-size: 100% auto;*/

        .video-container {
            // position: relative;
            // bottom: 20%;
            // left: 0%;
            height: 123%;
            width: 100%;
            overflow: hidden;
            background: #000;

            .filter {
                z-index: 100;
                position: absolute;
                background: rgba(0, 0, 0, 0.4);
                width: 100%;
            }

            video {
                position: absolute;
                z-index: 0;
                bottom: -130px;
                right: -100px;
                
                
            }

            // .fillWidth {
            //     width: 100%;
            // }


        }
    }
    
    .no-video .video-container video,
    .touch .video-container video {
        display: none;
    }
    
    .no-video .video-container .poster,
    .touch .video-container .poster {
        display: block !important;
    }

}
@media screen and (max-device-width: 1600px) {
    .video-header{
        clip-path: circle(44% at 65% 66%);  
    }
}
@media screen and (max-device-width: 1281px) {
    .video-header{
        clip-path: circle(45% at 64% 66%);
    }
}
@media screen and (max-device-width: 1025px) {
    .video-header{
        width: 78%;
        clip-path: circle(45% at 68% 84%);
    }
}
@media screen and (max-device-width: 980px) {
    .video-header{
        display: none;
    }
}