
/* =============================2 section - about============================== */
.about{
    .section-content{
        .about_text{
            padding: 20px 0;

            p.kursiv{
                padding: 20px 10px;
            }
        }

        .about_img{
            .carousel-inner{
                border: 3px solid $gray;
                border-radius: 10px;
                box-shadow: 13px 13px 10px -8px $shadow;

                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
