
/* ============================= 6 section - map ============================== */

.section-map .col-md-12 {
    padding: 0;
}

.section-map .content-map {
    background-color: #f1f1f1;
}

.section-map .content-map .map {
    width: 100%;
    height: 380px;
}

.wpcf7 label,
.wpcf7 label span select.wpcf7-select{
    width: 100%;
    /*height: calc(2.25rem + 2px);*/
}