$white: #ffffff;
$mainBg: #ffffff;
$shadow:  rgba(0,0,0,.75);
$shadowBg: rgba(0,0,0,.4);
$bg_gray: #f8f8f8;
$gray: #CCCCCC;
$purple:  #69328e;
$purple2: #5f2d9d;
$black: #000000;
$yellow: #feb326;


// color: #e84d8a; розовый

// $orange: #e86e15;
// $green: #008729;
// $devider: #938F7B;
// $lightText: #F3EFD7;
// $darkText: #0F0F0A;
// $videoDesc: #938F7B;

// $red:#EB5757;
// $minus: #fbe1a2;
// $blue: #2E52A7;
// $brown: #93683C;
// $yellow: #F2C94C;
// $inputBg: #F6F6F6;
// $placeholder: #BDBDBD;
// $gray: #4F4F4F;

