$mainBg: #ffffff;
$white: #ffffff;


$orange: #e86e15;
$green: #008729;












$black: #000000;
$devider: #938F7B;
$lightText: #F3EFD7;
$darkText: #0F0F0A;
$videoDesc: #938F7B;

$red:#EB5757;
$minus: #fbe1a2;
$blue: #2E52A7;
$brown: #93683C;
$yellow: #F2C94C;
$inputBg: #F6F6F6;
$placeholder: #BDBDBD;
$gray: #4F4F4F;

